@import "../sass/utilities/varibale.scss"; 


.movies-details {
  display: grid;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  bottom: 0;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(8,2.5rem);
  left: 0;
  z-index: -3;
  right: 0;
  
  transition: height 0.5s cubic-bezier(1, 0, 0, 1);

  &-voting{
    grid-row:1 ;
    grid-column: 6/9;
    font-size: 1rem;
    color: white;
    margin: auto;
  }

  &-names{
    font-size: 2rem;
    margin: auto;
    grid-row: 2/3;
    grid-column: 1/-1;
    color:transparent;
    background-image: linear-gradient(82deg ,$color-green-2 ,$color-green-3 );
    background-clip: text;
  }

  &-paragraph{
    grid-row: 3;
    grid-column: 1/9;
    font-size: 1rem;
    margin: 0.5rem ;
    color: $color-white;
    text-align: justify;

  }
}



.movies-card {
    display: grid;
    position: relative;
    width: 200px;
    height: 350px;
    // background-image: linear-gradient(140deg, transparent 25%, #e81cff, #40c9ff);
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
 &::after {
        content: "Original";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -10px;
        left: -10px;
        width: 60px;
        text-align: center;
        height: 20px;
        /* background-color:rgba(255, 215, 0, 1); */
        background-color:gold;
        border-radius: 10px;
    }


    &:hover{
     .movies-details{
        z-index: 5;
     }

    }

   
   & gradient{
     position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
   }

    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        
        transition: all .4s ease-in;
    }

    & .id-number{
        font-variant-numeric: lining-nums;
    }
}

