$color-green-1 : #002B36;
$color-green-2 : #14655B;
$color-green-3 : #A7FFEB;

////COLOR-BLUE

$color-dark-blue-1: hsl(212, 43%, 18%);
$color-dark-blue-2: #2E4156;
$color-dark-blue-3: #1a2736;
$color-light-blue-1: hsl(212, 30%, 25%);
$color-light-blue-2: hsl(212, 32%, 36%);
$color-light-blue-3: #3c93f7;



$color-light-grey-1: #AAB7B7;
$color-light-grey-2: #C0C8CA;
$color-light-grey-3: #D4D8DD;

$color-1: #1A2D42;
$color-2: #2E4156;
$color-3: #1a2736;
$color-4: #AAB7B7;
$color-5: #C0C8CA;
$color-6: #D4D8DD;

//////

$H-1: #07111D;
$H-2: #39444D;


// background-image: linear-gradient(140deg, transparent 25%,#40c9ff);
$color-pink-1: #e81cff;

/////COLOR-PLATES1

$color-black: #000000;
$color-navy-blue: #0f1c39;
$color-orange-yellow: #FFA600;
$color-white: #FFFFFF;
$color-pink-2: #B22965;

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;



// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;